####### mWallet - requirements.txt #######
#### installation: pip install -r requirements.txt
###### Requirements without Version Specifiers ######
bottle
#json
sys
mongoengine
#twilio.twiml.messaging_response
twilio
datetime
logging